<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropdown Selection</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="form-container">
      <div class="header">
        <h1>Select from Dropdowns</h1>
      </div>
      <form id="selectionForm" action="#">
        <div class="form-group">
          <label for="date">Select Date:</label>
          <select id="date" name="date" onchange="updateLocation()">
            <option value="2052024">2052024</option>

            <option value="2152024">2152024</option>

            <option value="2252024">2252024</option>

            <option value="2352024">2352024</option>
          </select>
        </div>

        <div class="form-group">
          <label for="location">Select Location:</label>
          <select id="location" name="location">
            <option value="">--Select--</option>
          </select>
        </div>

        <div class="button-container">
          <input type="submit" value="Submit" class="btn-submit" />
        </div>
      </form>
    </div>
    <script>
      const data = {
        2052024: {
          location01: {
            latitude: 2.909223,
            longitude: 101.352959,
            "palm oils detected": 2,
            "palm oils harvested": 2,
            timestamp: "14:06",
          },
          location02: {
            latitude: 2.909147,
            longitude: 101.352863,
            "palm oils detected": 3,
            "palm oils harvested": 3,
            timestamp: "14:07",
          },
          location03: {
            latitude: 2.909079,
            longitude: 101.352854,
            "palm oils detected": 5,
            "palm oils harvested": 2,
            timestamp: "14:07",
          },
          location04: {
            latitude: 2.909079,
            longitude: 101.352854,
            "palm oils detected": 4,
            "palm oils harvested": 2,
            timestamp: "14:07",
          },
          location05: {
            latitude: 2.909079,
            longitude: 101.352854,
            "palm oils detected": 2,
            "palm oils harvested": 2,
            timestamp: "14:07",
          },
          location06: {
            latitude: 2.909079,
            longitude: 101.352854,
            "palm oils detected": 3,
            "palm oils harvested": 1,
            timestamp: "14:08",
          },
          location07: {
            latitude: 2.909079,
            longitude: 101.352854,
            "palm oils detected": 4,
            "palm oils harvested": 1,
            timestamp: "14:08",
          },
          location08: {
            latitude: 2.909079,
            longitude: 101.352854,
            "palm oils detected": 5,
            "palm oils harvested": 3,
            timestamp: "14:08",
          },
          location09: {
            latitude: 2.909111,
            longitude: 101.352882,
            "palm oils detected": 2,
            "palm oils harvested": 1,
            timestamp: "14:08",
          },
          location10: {
            latitude: 2.909114,
            longitude: 101.352786,
            "palm oils detected": 4,
            "palm oils harvested": 2,
            timestamp: "14:08",
          },
          location11: {
            latitude: 2.909062,
            longitude: 101.352742,
            "palm oils detected": 3,
            "palm oils harvested": 1,
            timestamp: "14:09",
          },
          location12: {
            latitude: 2.909073,
            longitude: 101.352789,
            "palm oils detected": 3,
            "palm oils harvested": 1,
            timestamp: "14:09",
          },
          location13: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 3,
            "palm oils harvested": 2,
            timestamp: "14:09",
          },
          location14: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 2,
            "palm oils harvested": 1,
            timestamp: "14:09",
          },
          location15: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 4,
            "palm oils harvested": 2,
            timestamp: "14:10",
          },
          location16: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 3,
            "palm oils harvested": 2,
            timestamp: "14:10",
          },
          location17: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 5,
            "palm oils harvested": 5,
            timestamp: "14:10",
          },
          location18: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 5,
            "palm oils harvested": 2,
            timestamp: "14:10",
          },
          location19: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 3,
            "palm oils harvested": 2,
            timestamp: "14:10",
          },
        },
        2152024: {
          location20: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 3,
            "palm oils harvested": 3,
            timestamp: "14:10",
          },
          location21: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 2,
            "palm oils harvested": 2,
            timestamp: "14:10",
          },
        },
        2252024: {
          location22: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 2,
            "palm oils harvested": 2,
            timestamp: "14:10",
          },
          location23: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 1,
            "palm oils harvested": 1,
            timestamp: "14:10",
          },
        },
        2352024: {
          location24: {
            latitude: 2.90905,
            longitude: 101.352681,
            "palm oils detected": 1,
            "palm oils harvested": 1,
            timestamp: "14:10",
          },
        },
      };

      function updateLocation() {
        const date = document.getElementById("date");
        const location = document.getElementById("location");
        const selectedValue = date.value;

        // Clear the second dropdown
        location.innerHTML = '<option value="">--Select--</option>';

        if (selectedValue && data[selectedValue]) {
          // Populate the second dropdown based on the first dropdown's selection
          const options = data[selectedValue];
          for (const key in options) {
            const option = document.createElement("option");
            option.value = key;
            option.text = key;
            location.appendChild(option);
          }
        }
      }

      document
        .getElementById("selectionForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const firstSelection = document.getElementById("date").value;
          const secondSelection = document.getElementById("location").value;

          if (firstSelection && secondSelection) {
            const imagePath = `detected_pics/${firstSelection}/${secondSelection}`;
            const response = await fetch("/fetch_image_url", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ path: imagePath }),
            });
            const result = await response.json();
            const imageUrl = result.image_url;
            displayImages(imageUrl);
          }
        });

      function displayImages(urls) {
        const imageContainer = document.getElementById("imageContainer");
        imageContainer.innerHTML = ""; // Clear previous images
        urls.forEach((url) => {
          const imgElement = document.createElement("img");
          imgElement.src = url;
          imgElement.alt = "Selected Image";
          imageContainer.appendChild(imgElement);
        });
      }
      function showMessage(selectedValue) {
        alert("You selected: " + selectedValue);
      }
    </script>
  </body>
</html>
