<p> Harvesting Report</p>
<div><p> 2052024</p>
<table border='1'>
<tr><th>location</th><th>latitude</th><th>longitude</th><th>palm oils detected</th><th>palm oils harvested</th><th>time</th></tr><tr><tr><td>location01</td><td>2.909223</td><td>101.352959</td><td>2</td><td>2</td><td>14:06</td></tr>
<tr><td>location02</td><td>2.909147</td><td>101.352863</td><td>3</td><td>3</td><td>14:07</td></tr>
<tr><td>location03</td><td>2.909079</td><td>101.352854</td><td>5</td><td>2</td><td>14:07</td></tr>
<tr><td>location04</td><td>2.909079</td><td>101.352854</td><td>4</td><td>2</td><td>14:07</td></tr>
<tr><td>location05</td><td>2.909079</td><td>101.352854</td><td>2</td><td>2</td><td>14:07</td></tr>
<tr><td>location06</td><td>2.909079</td><td>101.352854</td><td>3</td><td>1</td><td>14:08</td></tr>
<tr><td>location07</td><td>2.909079</td><td>101.352854</td><td>4</td><td>1</td><td>14:08</td></tr>
<tr><td>location08</td><td>2.909079</td><td>101.352854</td><td>5</td><td>3</td><td>14:08</td></tr>
<tr><td>location09</td><td>2.909111</td><td>101.352882</td><td>2</td><td>1</td><td>14:08</td></tr>
<tr><td>location10</td><td>2.909114</td><td>101.352786</td><td>4</td><td>2</td><td>14:08</td></tr>
<tr><td>location11</td><td>2.909062</td><td>101.352742</td><td>3</td><td>1</td><td>14:09</td></tr>
<tr><td>location12</td><td>2.909073</td><td>101.352789</td><td>3</td><td>1</td><td>14:09</td></tr>
<tr><td>location13</td><td>2.90905</td><td>101.352681</td><td>3</td><td>2</td><td>14:09</td></tr>
<tr><td>location14</td><td>2.90905</td><td>101.352681</td><td>2</td><td>1</td><td>14:09</td></tr>
<tr><td>location15</td><td>2.90905</td><td>101.352681</td><td>4</td><td>2</td><td>14:10</td></tr>
<tr><td>location16</td><td>2.90905</td><td>101.352681</td><td>3</td><td>2</td><td>14:10</td></tr>
<tr><td>location17</td><td>2.90905</td><td>101.352681</td><td>5</td><td>5</td><td>14:10</td></tr>
<tr><td>location18</td><td>2.90905</td><td>101.352681</td><td>5</td><td>2</td><td>14:10</td></tr>
<tr><td>location19</td><td>2.90905</td><td>101.352681</td><td>3</td><td>2</td><td>14:10</td></tr>
</tr>
</table>
</div><div><p> 2152024</p>
<table border='1'>
<tr><th>location</th><th>latitude</th><th>longitude</th><th>palm oils detected</th><th>palm oils harvested</th><th>time</th></tr><tr><tr><td>location20</td><td>2.90905</td><td>101.352681</td><td>3</td><td>3</td><td>14:10</td></tr>
<tr><td>location21</td><td>2.90905</td><td>101.352681</td><td>2</td><td>2</td><td>14:10</td></tr>
</tr>
</table>
</div><div><p> 2252024</p>
<table border='1'>
<tr><th>location</th><th>latitude</th><th>longitude</th><th>palm oils detected</th><th>palm oils harvested</th><th>time</th></tr><tr><tr><td>location22</td><td>2.90905</td><td>101.352681</td><td>2</td><td>2</td><td>14:10</td></tr>
<tr><td>location23</td><td>2.90905</td><td>101.352681</td><td>1</td><td>1</td><td>14:10</td></tr>
</tr>
</table>
</div>