<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image from Firebase</title>
</head>
<body>
    <h1>Robot Current Location</h1>
    {% for key, values in data.items() %}
            <p value="{{ key }} ">{{ key }} : {{ values }}
            </p>
    {% endfor %}

    <img src="{{ image_url }}" alt="Image from Firebase">
    <button onclick="location.href='/'">Go Back to Home Page</button>
</body>
</html>
